name: fullstack_app

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    networks:
      - my-network
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://db:27017/mydb
      - PORT=5000
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    networks:
      - my-network
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - my-network

volumes:
  mongo_data:

networks:
  my-network:
    driver: bridge
